body 
{
    margin: 0;
    
    color: white;
    overflow-x: hidden;

    
    min-height: 100vh;

    
    background-color: black;
    background-image: 
        linear-gradient(to right, black 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 70%, black 100%),
        url("/Assignments/Images/Back_to_the_Future_Part_II_Textless_Poster.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative; 
}

.Others
{
    font-family: 'SteelTongs';
}


@font-face 
{
    font-family: 'BTTF';
    src: url('/Assignments/Fonts/BTTF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'SteelTongs';
    src: url('/Assignments/Fonts/SteelTongs.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.header-container 
{
    display: flex;
    flex-direction: column; 
    align-items: center;    
    position: absolute;
    right: 10px;            
    top: 30%;               
    transform: translateY(-50%); 
}
.MainGuys
{
    text-align: right;
}

.attentionDraw
 {

    text-align: center;   
    color: rgb(4, 161, 189);
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px; 
    line-height: 20%;
    font-family: 'Bungee', sans-serif;
    text-shadow: 20px 20px 10px rgba(0,0,0,0.8);
    transform: translateY(-50%) translateX(-3mm);
    
 }
.attentionDraw .Tagline
{
    line-height:2cm;
    font-size:  24px;
    color: rgb(168, 168, 11);
    transform:translateX(-1%) translateY(50%);
    font-family: 'playfair display',sans-serif;

 
}





.mainTitle h1 
{
    text-align: center;  
    margin: 0;
    padding: 0;
    font-size: 80px;
    line-height: 1;
    color: rgb(255, 81, 0);
    font-family: 'BTTF', sans-serif;
    text-shadow: 20px 20px 10px rgba(0,0,0,0.8);
}

.top 
{
    transform: translateX(-24%);
}

.middle 
{
    transform: translateX(0);
}

.bottom 
{
    transform: translateX(30%);
}



.Others 
{
    color: white;
    text-align: right;
    font-size: 25px;
    margin-bottom: 69px;
    transform: translateY(170%);
    line-height: 0cm;
}

.Micheal
{
    transform: translateX(-10%);
}
footer 
{
    text-align: center;
    color: white;
    font-size: 16px;
    padding: 20px 10px;
    background-color: rgba(0,0,0,0.8);
}
.spacer 
{
    height: 700px; 
}
