
@font-face {
  font-family: 'BTTF';             /* custom name you’ll use in CSS */
  src: url('/Assignments/Fonts/BTTF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1
{
    font-size: 60px;
    background: linear-gradient(90deg, #b82300, #ff4d00,#ff9a00);
    -webbkit-background-clip: text;
    background-clip: text;
    font-family: 'BTTF', sans-serif;
    text-align: center;
    margin: 0;
    color: transparent
   
}

h2
{
    font-size: 45px;
     background: linear-gradient(90deg, #b82300, #ff4d00, #ff9a00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'BTTF', sans-serif;
    text-align: center;
    position: relative;
   
    margin: 0;

   
}

body {
  content: "";
  display: block;
  height: 1600px;

  background:
    linear-gradient(to right, black, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, black),
    url("/Assignments/Images/Back_to_the_Future_Part_II_Textless_Poster.webp") center/cover no-repeat;
}

blockquote
{
    font-size: 65px;
    text-align: center;
    color: #ff4d00;
    font-family: 'BTTF', sans-serif;
}






.Actors
{
    color: #ff4d00;
    text-align:center;
    font-size:35px;
    font-family: audiowide, sans-serif;
}